<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="wujihand-right">
  <link
    name="right_palm_link">
    <inertial><origin xyz="0.00464638201985134 -0.00350423603669829 0.0355450772461747" rpy="0 0 0"/><mass value="0.16914"/><inertia ixx="0.00014" ixy="2.54e-06" ixz="6.91e-06" iyy="9.47e-05" iyz="-6.63e-06" izz="6e-05"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_palm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_palm_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="right_finger1_link1">
    <inertial><origin xyz="-0.00194260655220212 0.000842657605271155 0.00731565933893352" rpy="0 0 0"/><mass value="0.0075"/><inertia ixx="3.2e-07" ixy="-2e-08" ixz="0.0" iyy="3e-07" iyz="4e-08" izz="2.3e-07"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger1_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger1_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger1_joint1"
    type="revolute">
    <origin
      xyz="-0.01666 0.0081297 0.017017"
      rpy="-1.5861 -0.49942 1.2364" />
    <parent
      link="right_palm_link" />
    <child
      link="right_finger1_link1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0.0368"
      upper="1.6125"
      effort="0.4452"
      velocity="8.587" />
  </joint>
  <link
    name="right_finger1_link2">
    <inertial><origin xyz="1.21916730206218e-05 -7.81224289434293e-06 0.0130404213177026" rpy="0 0 0"/><mass value="0.0248"/><inertia ixx="2.76e-06" ixy="2e-08" ixz="1e-08" iyy="2.81e-06" iyz="2e-08" izz="6.8e-07"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger1_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger1_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger1_joint2"
    type="revolute">
    <origin
      xyz="-0.00053658 0.00024788 0.014754"
      rpy="0.20529 -0.70051 1.5456" />
    <parent
      link="right_finger1_link1" />
    <child
      link="right_finger1_link2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.1576"
      upper="0.9312"
      effort="0.4259"
      velocity="11.1" />
  </joint>
  <link
    name="right_finger1_link3">
    <inertial><origin xyz="-9.22346311965638e-08 -5.00305950110747e-05 0.0142927256691265" rpy="0 0 0"/><mass value="0.0165"/><inertia ixx="1.46e-06" ixy="0.0" ixz="-2e-08" iyy="1.42e-06" iyz="0.0" izz="4.5e-07"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger1_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger1_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger1_joint3"
    type="revolute">
    <origin
      xyz="0 0 0.0325"
      rpy="0.087266 0 -2.138" />
    <parent
      link="right_finger1_link2" />
    <child
      link="right_finger1_link3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.4638"
      upper="1.5607"
      effort="0.1888"
      velocity="12.86" />
  </joint>
  <link
    name="right_finger1_link4">
    <inertial><origin xyz="-0.000586380443481603 2.77882151560049e-08 0.0108825772528955" rpy="0 0 0"/><mass value="0.0165"/><inertia ixx="1.18e-06" ixy="0.0" ixz="1.2e-07" iyy="1.25e-06" iyz="0.0" izz="5.1e-07"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger1_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger1_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger1_joint4"
    type="revolute">
    <origin
      xyz="0 -4.99999999923513E-05 0.0349999999999992"
      rpy="0 0 0" />
    <parent
      link="right_finger1_link3" />
    <child
      link="right_finger1_link4" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.4829"
      upper="1.5451"
      effort="0.1468"
      velocity="13.5" />
  </joint>
  <link
    name="right_finger1_tip_link">
    <inertial><origin xyz="-2.8931521049054e-05 2.77882149374298e-08 -0.0168147128298623" rpy="0 0 0"/><mass value="0.0041"/><inertia ixx="5.5e-07" ixy="0.0" ixz="2e-08" iyy="5.2e-07" iyz="0.0" izz="2.7e-07"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger1_tip_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger1_tip_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger1_tip_fixed"
    type="fixed">
    <origin
      xyz="-0.000557448922432543 0 0.0276972900827579"
      rpy="0 0 0" />
    <parent
      link="right_finger1_link4" />
    <child
      link="right_finger1_tip_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_finger2_link1">
    <inertial><origin xyz="-0.00177765079713431 -1.17981882007123e-08 0.00759979510255948" rpy="0 0 0"/><mass value="0.0032"/><inertia ixx="8e-08" ixy="0.0" ixz="-3e-08" iyy="7e-08" iyz="0.0" izz="8e-08"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger2_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger2_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger2_joint1"
    type="revolute">
    <origin
      xyz="-0.020353 -0.0033601 0.070679"
      rpy="-0.10442 -0.036783 1.4746" />
    <parent
      link="right_palm_link" />
    <child
      link="right_finger2_link1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.1611"
      upper="1.5588"
      effort="0.6188"
      velocity="8.203" />
  </joint>
  <link
    name="right_finger2_link2">
    <inertial><origin xyz="6.82662043560711e-09 4.92159312116391e-07 0.0187992451749443" rpy="0 0 0"/><mass value="0.033"/><inertia ixx="6.31e-06" ixy="0.0" ixz="-1.6e-07" iyy="6.34e-06" iyz="0.0" izz="8.9e-07"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger2_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger2_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger2_joint2"
    type="revolute">
    <origin
      xyz="-0.00120098018725689 0 0.0145000000001074"
      rpy="0 0 -1.5707963311974" />
    <parent
      link="right_finger2_link1" />
    <child
      link="right_finger2_link2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.4044"
      upper="0.3054"
      effort="0.1822"
      velocity="8.11" />
  </joint>
  <link
    name="right_finger2_link3">
    <inertial><origin xyz="-0.000247460874570935 2.02699635774156e-08 0.0190489373943852" rpy="0 0 0"/><mass value="0.0165"/><inertia ixx="1.47e-06" ixy="0.0" ixz="3e-08" iyy="1.44e-06" iyz="0.0" izz="4.5e-07"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger2_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger2_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger2_joint3"
    type="revolute">
    <origin
      xyz="0 0 0.0376000000000001"
      rpy="0 0 1.5707963311974" />
    <parent
      link="right_finger2_link2" />
    <child
      link="right_finger2_link3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.4714"
      upper="1.5504"
      effort="0.2251"
      velocity="12.86" />
  </joint>
  <link
    name="right_finger2_link4">
    <inertial><origin xyz="-0.000664006443281105 -6.32017538998442e-10 0.0119913039404363" rpy="0 0 0"/><mass value="0.014"/><inertia ixx="9.5e-07" ixy="0.0" ixz="1.4e-07" iyy="8.6e-07" iyz="-1e-08" izz="3e-07"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger2_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger2_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger2_joint4"
    type="revolute">
    <origin
      xyz="0 0 0.0295000000000004"
      rpy="0 0 0" />
    <parent
      link="right_finger2_link3" />
    <child
      link="right_finger2_link4" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.4644"
      upper="1.5753"
      effort="0.2170"
      velocity="13.5" />
  </joint>
  <link
    name="right_finger2_tip_link">
    <inertial><origin xyz="0.00100819102433636 -6.32567508790371e-10 -0.0130086960595639" rpy="0 0 0"/><mass value="0.00318"/><inertia ixx="2e-07" ixy="0.0" ixz="0.0" iyy="2.1e-07" iyz="0.0" izz="1.3e-07"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger2_tip_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger2_tip_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger2_tip_fixed"
    type="fixed">
    <origin
      xyz="-0.00167219746761747 0 0.0250000000000001"
      rpy="0 0 0" />
    <parent
      link="right_finger2_link4" />
    <child
      link="right_finger2_tip_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_finger3_link1">
    <inertial><origin xyz="-0.00177764713597601 -1.13859860179522e-08 0.00759979717671877" rpy="0 0 0"/><mass value="0.0032"/><inertia ixx="8e-08" ixy="0.0" ixz="-3e-08" iyy="7e-08" iyz="0.0" izz="8e-08"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger3_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger3_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger3_joint1"
    type="revolute">
    <origin
      xyz="0.0014735 -0.0083399 0.073903"
      rpy="0.043878 -0.034402 1.57" />
    <parent
      link="right_palm_link" />
    <child
      link="right_finger3_link1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.1719"
      upper="1.5496"
      effort="0.6494"
      velocity="8.203" />
  </joint>
  <link
    name="right_finger3_link2">
    <inertial><origin xyz="9.21530065017134e-09 4.93115106575161e-07 0.0187992454921204" rpy="0 0 0"/><mass value="0.033"/><inertia ixx="6.31e-06" ixy="0.0" ixz="-1.6e-07" iyy="6.34e-06" iyz="0.0" izz="8.9e-07"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger3_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger3_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger3_joint2"
    type="revolute">
    <origin
      xyz="-0.00120098018725688 0 0.0145000000001074"
      rpy="0 0 -1.5707963311974" />
    <parent
      link="right_finger3_link1" />
    <child
      link="right_finger3_link2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.4014"
      upper="0.2996"
      effort="0.1827"
      velocity="8.11" />
  </joint>
  <link
    name="right_finger3_link3">
    <inertial><origin xyz="-0.000247479671672739 6.24509648725416e-08 0.0190489179358045" rpy="0 0 0"/><mass value="0.0165"/><inertia ixx="1.47e-06" ixy="0.0" ixz="3e-08" iyy="1.44e-06" iyz="0.0" izz="4.5e-07"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger3_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger3_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger3_joint3"
    type="revolute">
    <origin
      xyz="0 0 0.0376000000000002"
      rpy="0 0 1.5707963311974" />
    <parent
      link="right_finger3_link2" />
    <child
      link="right_finger3_link3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.4632"
      upper="1.5613"
      effort="0.2078"
      velocity="12.86" />
  </joint>
  <link
    name="right_finger3_link4">
    <inertial><origin xyz="-0.000663987760028399 1.06748467071024e-08 0.0119913116949321" rpy="0 0 0"/><mass value="0.014"/><inertia ixx="9.5e-07" ixy="0.0" ixz="1.4e-07" iyy="8.6e-07" iyz="-1e-08" izz="3e-07"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger3_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger3_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger3_joint4"
    type="revolute">
    <origin
      xyz="0 0 0.0295000000000005"
      rpy="0 0 0" />
    <parent
      link="right_finger3_link3" />
    <child
      link="right_finger3_link4" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.4697"
      upper="1.5702"
      effort="0.2018"
      velocity="13.5" />
  </joint>
  <link
    name="right_finger3_tip_link">
    <inertial><origin xyz="0.00100820970758907 1.06742966965445e-08 -0.0130086883050681" rpy="0 0 0"/><mass value="0.00318"/><inertia ixx="2e-07" ixy="0.0" ixz="0.0" iyy="2.1e-07" iyz="0.0" izz="1.3e-07"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger3_tip_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger3_tip_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger3_tip_fixed"
    type="fixed">
    <origin
      xyz="-0.00167219746761747 0 0.0250000000000002"
      rpy="0 0 0" />
    <parent
      link="right_finger3_link4" />
    <child
      link="right_finger3_tip_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_finger4_link1">
    <inertial><origin xyz="-0.00177765485355575 -1.1243440614303e-08 0.00759979228054727" rpy="0 0 0"/><mass value="0.0032"/><inertia ixx="8e-08" ixy="0.0" ixz="-3e-08" iyy="7e-08" iyz="0.0" izz="8e-08"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger4_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger4_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger4_joint1"
    type="revolute">
    <origin
      xyz="0.021879 -0.0056256 0.064714"
      rpy="0.17437 -0.01914 1.6362" />
    <parent
      link="right_palm_link" />
    <child
      link="right_finger4_link1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.1601"
      upper="1.5534"
      effort="0.6389"
      velocity="8.203" />
  </joint>
  <link
    name="right_finger4_link2">
    <inertial><origin xyz="9.30944150760726e-09 4.93686218009347e-07 0.0187992455773537" rpy="0 0 0"/><mass value="0.033"/><inertia ixx="6.31e-06" ixy="0.0" ixz="-1.6e-07" iyy="6.34e-06" iyz="0.0" izz="8.9e-07"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger4_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger4_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger4_joint2"
    type="revolute">
    <origin
      xyz="-0.00120098018725689 0 0.0145000000001074"
      rpy="0 0 -1.5707963311974" />
    <parent
      link="right_finger4_link1" />
    <child
      link="right_finger4_link2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.4134"
      upper="0.3161"
      effort="0.1832"
      velocity="8.11" />
  </joint>
  <link
    name="right_finger4_link3">
    <inertial><origin xyz="-0.000247469933373951 4.5543535279885e-08 0.0190489145514185" rpy="0 0 0"/><mass value="0.0165"/><inertia ixx="1.47e-06" ixy="0.0" ixz="3e-08" iyy="1.44e-06" iyz="0.0" izz="4.5e-07"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger4_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger4_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger4_joint3"
    type="revolute">
    <origin
      xyz="0 0 0.0376000000000001"
      rpy="0 0 1.5707963311974" />
    <parent
      link="right_finger4_link2" />
    <child
      link="right_finger4_link3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.4782"
      upper="1.5448"
      effort="0.2249"
      velocity="12.86" />
  </joint>
  <link
    name="right_finger4_link4">
    <inertial><origin xyz="-0.000664001506208602 1.82618244623511e-08 0.0119913062410579" rpy="0 0 0"/><mass value="0.014"/><inertia ixx="9.5e-07" ixy="0.0" ixz="1.4e-07" iyy="8.6e-07" iyz="-1e-08" izz="3e-07"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger4_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger4_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger4_joint4"
    type="revolute">
    <origin
      xyz="0 0 0.0295000000000005"
      rpy="0 0 0" />
    <parent
      link="right_finger4_link3" />
    <child
      link="right_finger4_link4" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.4825"
      upper="1.5550"
      effort="0.2044"
      velocity="13.5" />
  </joint>
  <link
    name="right_finger4_tip_link">
    <inertial><origin xyz="0.00100819596140888 1.82612744613342e-08 -0.0130086937589422" rpy="0 0 0"/><mass value="0.00318"/><inertia ixx="2e-07" ixy="0.0" ixz="0.0" iyy="2.1e-07" iyz="0.0" izz="1.3e-07"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger4_tip_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger4_tip_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger4_tip_fixed"
    type="fixed">
    <origin
      xyz="-0.00167219746761748 0 0.025"
      rpy="0 0 0" />
    <parent
      link="right_finger4_link4" />
    <child
      link="right_finger4_tip_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_finger5_link1">
    <inertial><origin xyz="-0.00177765917906567 -1.09848088646058e-08 0.00759978925577731" rpy="0 0 0"/><mass value="0.0032"/><inertia ixx="8e-08" ixy="0.0" ixz="-3e-08" iyy="7e-08" iyz="0.0" izz="8e-08"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger5_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger5_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger5_joint1"
    type="revolute">
    <origin
      xyz="0.0391447304054426 -0.000761380758920311 0.0540406134798095"
      rpy="0.281461697303944 -0.0337040264542043 1.69841456366372" />
    <parent
      link="right_palm_link" />
    <child
      link="right_finger5_link1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.1674"
      upper="1.5539"
      effort="0.6441"
      velocity="8.203" />
  </joint>
  <link
    name="right_finger5_link2">
    <inertial><origin xyz="7.38664329702488e-09 2.44707391628719e-07 0.0167866656554384" rpy="0 0 0"/><mass value="0.033"/><inertia ixx="6.31e-06" ixy="0.0" ixz="-1.6e-07" iyy="6.34e-06" iyz="0.0" izz="8.9e-07"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger5_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger5_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger5_joint2"
    type="revolute">
    <origin
      xyz="-0.00120098018724169 0 0.0145000000001571"
      rpy="0 0 -1.57083259986256" />
    <parent
      link="right_finger5_link1" />
    <child
      link="right_finger5_link2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.4203"
      upper="0.2931"
      effort="0.1798"
      velocity="8.11" />
  </joint>
  <link
    name="right_finger5_link3">
    <inertial><origin xyz="-0.000264216095134118 3.09184358428249e-08 0.0178973608984188" rpy="0 0 0"/><mass value="0.0165"/><inertia ixx="1.47e-06" ixy="0.0" ixz="3e-08" iyy="1.44e-06" iyz="0.0" izz="4.5e-07"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger5_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger5_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger5_joint3"
    type="revolute">
    <origin
      xyz="-0.000100000035494027 0 0.0335999999999994"
      rpy="0 0 1.57083259982337" />
    <parent
      link="right_finger5_link2" />
    <child
      link="right_finger5_link3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.4804"
      upper="1.5420"
      effort="0.2384"
      velocity="12.86" />
  </joint>
  <link
    name="right_finger5_link4">
    <inertial><origin xyz="-0.000570504769795682 3.31400479003374e-08 0.0121005057681373" rpy="0 0 0"/><mass value="0.014"/><inertia ixx="9.5e-07" ixy="0.0" ixz="1.4e-07" iyy="8.6e-07" iyz="-1e-08" izz="3e-07"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger5_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger5_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger5_joint4"
    type="revolute">
    <origin
      xyz="0 0 0.0275000000000001"
      rpy="0 0 0" />
    <parent
      link="right_finger5_link3" />
    <child
      link="right_finger5_link4" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.4705"
      upper="1.5709"
      effort="0.1866"
      velocity="13.5" />
  </joint>
  <link
    name="right_finger5_tip_link">
    <inertial><origin xyz="0.00110169269782184 3.31501097058928e-08 -0.0128994942318627" rpy="0 0 0"/><mass value="0.00318"/><inertia ixx="2e-07" ixy="0.0" ixz="0.0" iyy="2.1e-07" iyz="0.0" izz="1.3e-07"/></inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger5_tip_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right/right_finger5_tip_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_finger5_tip_fixed"
    type="fixed">
    <origin
      xyz="-0.00167219746761753 0 0.025"
      rpy="0 0 0" />
    <parent
      link="right_finger5_link4" />
    <child
      link="right_finger5_tip_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>